@model FarragoWebApp.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mi Perfil</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.FullName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            USR @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellphoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellphoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistedNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistedNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultsNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", "Home", "", new { @class = "btn btn-default" })
</p>
